{% extends "base.html" %}

{% block title %}
  <title>
    Технологии
  </title>  
{% endblock %}

{% block content %}
<div class="container"> 
  <h4>Технологии, использованные для создания<br> этого тренировочного сайта:</h4>
    <aside class="col-12 col-md-9">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <p class="fs-4">Python 3.7</p>
            Python — высокоуровневый язык программирования общего назначения с динамической строгой типизацией и автоматическим управлением памятью, 
            ориентированный на повышение производительности разработчика, читаемости кода и его качества, а также на обеспечение переносимости написанных 
            на нём программ. Язык является полностью объектно-ориентированным — всё является объектами. Необычной особенностью языка является выделение 
            блоков кода пробельными отступами. Синтаксис ядра языка минималистичен, за счёт чего на практике редко возникает необходимость обращаться к документации.
            Сам же язык известен как интерпретируемый и используется в том числе для написания скриптов.
        </li>
        <li class="list-group-item">
          <p class="fs-4">Django 2.2.19</p>
            Django — свободный фреймворк для веб-приложений на языке Python, использующий шаблон проектирования. Проект поддерживается организацией Django Software Foundation.
            Сайт на Django строится из одного или нескольких приложений, которые рекомендуется делать отчуждаемыми и подключаемыми. Один из основных принципов фреймворка — DRY (англ. Don't repeat yourself)
        </li>
      </ul>
    </aside>
</div>  
{% endblock %}