{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
    <title>
      Профайл пользователя {{ title }}
    </title>   
{% endblock %}

{% block content %}
  <div class="container py-5">
   {% if request.user.username != author.username %}
      {% if following %}
        <a
          class="btn btn-lg btn-light"
          href="{% url 'posts:profile_unfollow' author.username %}" role="button"
        >
          Отписаться
        </a>
      {% else %}
        <a
          class="btn btn-lg btn-primary"
          href="{% url 'posts:profile_follow' author.username %}" role="button"
        >
          Подписаться
        </a>
      {% endif %}
    {% endif %}
      <h2>Все посты пользователя {{ title }} </h2>
        <h4>Всего постов: {{ count }} </h4>   
        {% load cache %}
          {% cache 20 page_obj %}
          {% include 'posts/includes/post.html' %}
          {% include 'posts/includes/paginator.html' %}   
        {% endcache %}
  </div>
{% endblock %}     
    
   